.default_title{
    text-align: center;
}

.default_table{
    margin: auto;
    border-collapse:collapse;
    width: 60%;
    text-align: center;
}

.default_table tr td, th{
    height: 100%;
    border: solid;
    line-height: 40px;
}